Client/Connected Services/DispatchingServiceReference/DecodeFileLib.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DecodeFileLib" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DecodeFileLib" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DecodeFileIn">
    <xs:sequence>
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Md5" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DecodeFileIn" nillable="true" type="tns:DecodeFileIn" />
  <xs:complexType name="DecodeFileOut">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Secret" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DecodeFileOut" nillable="true" type="tns:DecodeFileOut" />
</xs:schema>