Client/Connected Services/AuthServiceReference/AuthService21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AuthService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AuthService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58526/AuthService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:58526/AuthService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="MSG">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="app_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="app_tocken" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="app_version" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="data" nillable="true" type="q1:ArrayOfanyType" />
      <xs:element minOccurs="0" name="op_infos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="op_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="op_statut" type="xs:boolean" />
      <xs:element minOccurs="0" name="user_password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="user_token" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MSG" nillable="true" type="tns:MSG" />
</xs:schema>